
@main("SDSP"){

  <div class="jumbotron">
    <div class="row">
      <div class="col-lg-6">

        <img src='@routes.Assets.at("images/fireimp_small.jpg")' style="padding-bottom: 0;">

      </div>
      <div class="col-lg-6">
        <h1>Internet of Things Data Service Platform</h1>
        <p>A federated cloud platform for mobile data-centric service development and sharing.</p>
        <!-- TODO -->
        <a class="btn btn-lg btn-default" href="https://docs.google.com/presentation/d/1ztigmHvM5j7rsqMgI_AVu1gPimV7OJm8LLSFc03TRcs/pub?start=false&loop=false&delayms=3000">Get Started &raquo;</a>
      </div>
    </div>
  </div>

}
